<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DOTA2BuildCalculatorEntities" connectionString="metadata=res://*/BuildCalculator.csdl|res://*/BuildCalculator.ssdl|res://*/BuildCalculator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS12;initial catalog=DOTA2BuildCalculator;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>